src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getInfoFlow" doc:id="060af093-cf56-42dc-a9c4-e985e109e39e" >
		<http:request method="GET" doc:name="callPrcGETinfo" doc:id="dbae5465-de82-4967-aab2-dbe676324b39" config-ref="HTTP_Request_configuration_get" path="/api/info" responseTimeout="100000">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_secret : 1234,
	client_id : 1234
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	ID : attributes.queryParams.ID
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="postProviderFlow" doc:id="fbd3cbf8-c214-4ad8-852b-588f253db895" >
		<http:request method="POST" doc:name="callPrcPOSTinfo" doc:id="6b120357-235d-4318-b1f7-621e125d5d67" config-ref="HTTP_Request_configuration_post" responseTimeout="100000" path="/api/provider">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_secret : 1234,
	client_id : 1234
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
