target/META-INF/mule-src/exp-insurance-company-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <http:listener-config name="exp-insurance-company-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="exp-insurance-company-api-config" api="exp-insurance-company-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="exp-insurance-company-api-main">
        <http:listener config-ref="exp-insurance-company-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="exp-insurance-company-api-config" />
    </flow>
    <flow name="exp-insurance-company-api-console">
        <http:listener config-ref="exp-insurance-company-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="exp-insurance-company-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\info:exp-insurance-company-api-config">
        <json-logger:logger doc:name="Logger" doc:id="ace8ac38-657d-4c62-a50c-425a0507fcdb" config-ref="JSON_Logger_Config" message='#["exp API for get operation initiated "++ now() as String]'/>
		<flow-ref doc:name="callgetInfoFlow" doc:id="00d9d061-187c-4855-bda2-8d3d40e2faa8" name="getInfoFlow"/>
		<json-logger:logger doc:name="Logger" doc:id="00c3dd6f-7c4b-4a48-8e55-6cf37338dec5" config-ref="JSON_Logger_Config" message='#["exp API for get operation completed "++ now() as String]'/>
    </flow>
    <flow name="post:\provider:application\json:exp-insurance-company-api-config">
		<json-logger:logger doc:name="Logger" doc:id="c7b92720-c4bf-4fec-8606-154e7d04938c" config-ref="JSON_Logger_Config" message='#["exp API for post operation initiated "++ now() as String]'/>
		<flow-ref doc:name="callpostProviderFlow" doc:id="9281c534-8f80-4eaa-a97d-4cd42279c761" name="postProviderFlow"/>
		<json-logger:logger doc:name="Logger" doc:id="d94a2e38-62b6-49f5-9fc7-fb10eb1ecb78" config-ref="JSON_Logger_Config" message='#["exp API for get operation completed "++ now() as String]'/>
    </flow>
</mule>
